body,
html,
#app,
#app>div {
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}

.nav-bar {
    position: absolute;
    display: flex;
    flex-wrap: nowrap;
    width: 1920px;
    background-color: white;
    padding: 5px;
    justify-content: left;
    margin-left: 150px;
}

.nav-btn {
    background-color: white;
    height: 35px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.nav-btn-signin {
    background-color: #b2d18f;
    padding: 10px;
    height: 60px;
    border-radius: 30px;
    color: white;
}

.nav-btn:hover {
    background-color: #ffcf77;
    border-radius: 30px;
    color: white;
    cursor: pointer;
}

.nav-logo {
    height: 80px;
}


.hide {
    display: none;
    height: 100%;
    width: 100%;
}

.show {
    display: block;
    height: 100%;
    width: 100%;
}

.home-scroll {
    width: 430px;
    margin-top: -25px;
    margin-left: 75px;
}

.home-scroll-header {
    margin-bottom: 500px;
    width: 220px;
    margin-left: -325px;
}

.home-scroll-img {
    margin-bottom: 280px;
    width: 225px;
    margin-left: -220px;
}

.home-scroll-text {
    margin-top: -280px;
    width: 260px;
    margin-left: 165px;
    text-indent: 20px;
}

.bg-home {
    background-image: url("assets/home/home_bg.jpg");
    background-repeat: no-repeat;
    background-size: 60%;
    width: 1921px;
    height: 1057px;
    position: absolute;
    margin-top: 100px;
    margin-left: 150px;
}

.in-progress-img {
    width: 550px;
    position: absolute;
    margin-top: 100px;
    margin-left: 450px;
}

.tools-container {
    display: flex;
}

.tools-icon {
    margin-top: 60px;
    width: 375px;
    margin-left: 30px;
}

.bg-tools {
    background-image: url("assets/tools/stone_bg.png");
    background-repeat: no-repeat;
    background-size: 60%;
    width: 1921px;
    height: 1057px;
    position: absolute;
    margin-top: 100px;
    margin-left: 150px;
}

.bg-gen {
    background-image: url("assets/tools/prompt_gen/gen_bg.png");
    background-repeat: no-repeat;
    background-size: 60%;
    width: 1921px;
    height: 1057px;
    position: absolute;
    margin-top: 100px;
    margin-left: 150px;
}

.gen-scroll {
    width: 520px;
    height: 700px;
    margin-left: 30px;
    margin-top: -30px;
}

.gen-btns {
    display: flex;
    /* flex-direction: column; */
    gap: 90px;
    margin-top: -575px;
    margin-left: 110px;
}

.gen-btn {
    flex-basis: 5%;
    height: 50px;
    border-radius: 50%;
    box-shadow: 1px 1px 1px 1px black;
    background-color: #e6641f;
    padding: 5px;
    /* background-color: #80d3e1; */
    position: absolute;
    cursor: pointer;
}

.gen-btn:hover {
    background-color: #eb9262;
}

/* .scroll-reverse {
    display: flex;
    flex-direction: column-reverse;
    flex-basis: content;
    overflow: auto;
    height: 380px;
} */

.gen-text {
    display: flex;
    flex-direction: column;
    flex-basis: content;
    overflow: auto;
    height: 380px;
    margin-left: 120px;
    margin-top: 70px;
    width: 350px;

}

.single-char {
    border-color: black;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-style: solid;
    padding-top: 10px;
    padding-bottom: 10px;
}

.generator-label {
    font-weight: bold;
    font-size: large;
}

.bold-names {
    font-weight: bold;
    text-transform: capitalize;
}

.generator-line {
    width: 30%;
    margin-left: 0%;
}

.char-gen-para {
    display: inline;
}

.single-plot {
    border-color: black;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-style: solid;
    padding-top: 10px;
    padding-bottom: 10px;
}